@font-face {
  font-family: main-font;
  src: url(../../dist/fonts/plex-serif.ttf); }

body {
  background: #2c466d;
  font-family: main-font; }

h1, h2 {
  color: #fcfcfc;
  background: #000000;
  padding: 5px; }

.ojales-majos {
  padding: 5;
  margin: 0; }
